

<div class="profile">
      <h2>Hello, <%=@profile.first_name %>!</h2>
      <h3> <%#=@profile.photo %></h3>
</div>
<h4>Your borrowing history:</h4>
<ul>
  <% @user.transactions.each do |transaction| %>
  <li>Book: <%= transaction.book.name %>, Borrowing Date: <%= transaction.borrow_date %>, Return Date: <%= transaction.return_date %>.
  </li>
  <% end %>
</ul>

<h4>Your lending history:</h4>
<p>Please auhtorize or decline your pending requests.</p>
<ul>
  <% @user.books.each do |book| %>
    <% book.transactions.each do |book_transactions| %>
      <li> Book: <%= book_transactions.book.name %>, Requested Borrow Date: <%= book_transactions.borrow_date %>, Requested Return Date: <%= book_transactions.return_date %>.</li>
    <% end %>
  <% end %>
</ul>


