

<div class="profile">
      <h3>Hello Your Updated Profile</h3>
      <h3>Hello <%=@profile.user.email %></h3>
      <h3> <%=@profile.first_name %></h3>
      <h3> <%=@profile.last_name %></h3>
      <h3> <%=@profile.address %></h3>
      <h3> <%=@profile.phone_number %></h3>
      <h3> <%=@profile.photo %></h3>
  </div>
  <div class="vie-items">
    link_to <p>Go to your dashboard</p>
  </div>

<div class="container d-flex justify-content-around">
  <div class="profile-book d-flex border border-secondary">
    <img src="https://richmedia.channeladvisor.com/ImageDelivery/imageService?profileId=12026540&id=708096&recipeId=728" />
    <div class="card-product-infos">
      <h2>Your Books</h2>
      <p>Cick here to see all <strong>Your Books</strong></p>
    </div>
  </div>
    <div class="profile-book d-flex mh-300 border border-secondary">
      <img src="https://richmedia.channeladvisor.com/ImageDelivery/imageService?profileId=12026540&id=708096&recipeId=728"/>
      <div class="card-product-infos">
        <h2>Borrowed Books</h2>
        <p>Cick here to see all your <strong>Borrowed Books </strong></p>
      </div>
    </div>
    <div class="profile-book d-flex border border-secondary">
      <img src="https://richmedia.channeladvisor.com/ImageDelivery/imageService?profileId=12026540&id=708096&recipeId=728" />
      <div class="card-product-infos">
        <h2>Lended Books</h2>
        <p>Cick here to see all <strong>Your Lended Books</strong></p>
      </div>
    </div>
  </div>
