<div class="index-page">
  <h2>Browse the Shelf</h2>

  <%= link_to "Add a book", new_book_path, class: 'btn btn-outline-secondary rounded-pill' %>

  <%@books.each do |book|  %>

  <%= link_to book_path(book), :action => 'go' do %>
    <div class="card-product">
      <img src= "<%= book.photo %>" />
      <div class="card-product-infos">
        <h2><%=book.name%>, <%=book.author%></h2>
        <p><%=book.description%></p>
        <br>
        <%= link_to "Delete", book_path(book), method: :delete, class: 'btn btn-outline-secondary rounded-pill' %>
      </div>
    </div>
    <% end %>
  <%end%>
</div>
