<h2>Browse the Shelf</h2>

<%@books.each do |book|  %>

  <%= link_to book_path(book), :action => 'go' do %>
    <div class="card-product">
      <img src= "<%= book.photo %>" />
      <div class="card-product-infos">
        <h2><%=book.name%>, <%=book.author%></h2>
        <p><%=book.description%></p>
      </div>
    </div>
  <% end %>
<%end%>

<!-- <img src="https://covers.audiobooks.com/images/covers/full/9781481558754.jpg" /> -->
