<p><strong><%=@book.name%></strong></p>
<p>Author: <%=@book.author%></p>
<p>Year: <%=@book.publishing_year%></p>
<p>Language: <%=@book.language%></p>
<p>number of pages: <%=@book.number_of_pages%></p>
<p>Description: <%=@book.description%></p>
