<p><strong><%=@book.name%></strong></p>
<p>Author: <%=@book.author%></p>
<p>Year: <%=@book.publishing_year%></p>
<p>Language: <%=@book.language%></p>
<p>number of pages: <%=@book.number_of_pages%></p>
<p>Description: <%=@book.description%></p>

<div class="card mb-4 shadow-sm card-body">
  <%= link_to "Borrow this book!", book_transactions_path(@book), method: :post %>

</div>
